body{
    font-family: Arial, sans-serif;
    background-color: rgb(201, 201, 201);
    color: white;
    text-align: center;
    
    
}

footer{
    font-size: 0.8rem;
    margin-top: 1rem;
}
.container{ 
    background: linear-gradient(to bottom, #1a001f, rgb(115, 1, 160));
    margin: auto;
    width: 700px;
    margin-top: 1rem ;
    border-radius: 6px; 
    overflow: hidden;
    padding: 1.3rem;
}

.container-tittle{
    color: #ffd000;
    font-size: 1.5rem;
    padding: 0.5rem;
    
}    

.flex-container{
    background: linear-gradient(to bottom, rgb(115, 1, 160) ,#340837);
    border-radius: 6px;
}

.flex-container-tittle{
    font-size: 1.5rem;
    padding: 1rem;
}

.image-container{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    

}

.card{
    padding: 10px;
    border-image:linear-gradient(to bottom, #2637DB, #2f257a) ;
    border-radius: 6px;

}

.card-tittle{
    text-align: center;
    align-content: center;
    font-size: 1.3rem;
}

.image{
    background: linear-gradient(to bottom, #3E5EEF,#72CCFE);

}



@media screen and (max-width: 620px){
    .image{
        box-sizing: border-box
    };
}
